@media Screen and (min-width: 400) and (max-width: 200) {

}

@media Screen and (min-width: 600) and (max-width: 6000) {

}
html {
  background-color: ivory;
  border-style: solid;
  max-width: 1500px
}

#mePhoto {
  font-style: italic;
}

h1 {
  background-color: rgba(128, 128, 128, 0.769);
  border-style: inset;
  font-size: 4vw;
  width: auto;
  padding: 20px;
  margin: 20px;
  min-width: 400;
}

body {
  font-family:sans-serif;
  background-image: url("newport.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  width: auto;
  padding: 10px;
  margin: 20px;
}

h1 {
  background-color: grey;
  border-style: groove;
  width: auto;
  padding: 10px;
  margin: 20px;
  min-width: 400;
}

img {
  float: none;
  max-width: 100%;
  max-height: 100%;
  padding: 5px;
  margin: 5px;
}
